Ch1/Chatbot/node_modules/
Ch1/Chatbot/.env
Ch1/Logging/node_modules/
Ch1/Logging/.env
Ch2/Chatbot_with_feedback/node_modules/
Ch2/Chatbot_with_feedback/.env
Ch3/first-chroma/llmenv
Ch3/first-chroma/data
Ch3/first-chroma/node_modules
Ch3/first-rag/.env
Ch3/first-rag/data
Ch3/first-rag/llmenv
Ch3/first-rag/chroma.log
Ch3/search-rag/llmenv
Ch3/search-rag/data
Ch3/search-rag/.env
Ch3/search-rag/node_modules
Ch3/serve-rag/llmenv
Ch3/serve-rag/data
Ch3/serve-rag/.env
Ch3/serve-rag/node_modules
Ch3/challenge-problem-rag/venv
Ch3/challenge-problem-rag/data
Ch3/challenge-problem-rag/.env
Ch3/challenge-problem-rag/node_modules
Ch4/logging-metrics-versioning/llmenv
Ch4/logging-metrics-versioning/data
Ch4/logging-metrics-versioning/.env
Ch4/logging-metrics-versioning/node_modules